body {font-family: Arial, Helvetica, sans-serif; margin: 0}
form {border: 3px solid #f1f1f1;}

/* General Styles for Login/Sign-up Page */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

h3, h4{text-align: center;}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal-container{
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.show{
  pointer-events: auto;
  opacity: 1;
}

.modal{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 30px 50px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modal h1{
  margin: 0;
}

.finalScores{
  font-size: 18px;
}

#homeMB{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 25px;
}

#restartMB{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container-HTP{
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container-HTP.show{
  pointer-events: auto;
  opacity: 1;
}

.modal-HTP{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 30px 50px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modal-HTP h1{
  margin: 0;
}

#colseMB{
  background-color: red;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 25px;
}

#postingAbility{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 25px;
}

.instructions{
  text-align: left;
}

.postBtn{
  background-color: green;
  border: none;
  color: white;
  padding: 12px 70px;
  text-align: center;
  text-decoration: none;
  margin: 30px 180px;
  width: 20%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}








